<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/javalitespring/js/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-app="javaLiteApp" ng-controller="javaLiteController">
    <div class="container-fluid">
        <div class="row" style="text-align:left">
            <div class="col-sm-12">
                <h3>All Students : </h3>
            </div>
        </div>
        <div class="row" ng-repeat="student in students" style="text-align:left">
            <div class="col-sm-1" ng-bind="student.roll_number"></div>
            <div class="col-sm-1" ng-bind="student.first_name"></div>
            <div class="col-sm-1" ng-bind="student.last_name"></div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:50px;">
        <ng-form name="studentOne">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group required">
                        <label class="control-label">Roll Number:</label>
                        <input  type="text" class="form-control input-sm" id="rollNumber" placeholder="Enter Roll Number"
                                ng-required="true" ng-model="studentByRollNumber.roll_number"/>
                        <input  type="text" class="form-control input-sm" id="firstName" ng-readonly="true" ng-show="studentByRollNumber.first_name"
                                ng-model="studentByRollNumber.first_name"/>
                        <input  type="text" class="form-control input-sm" id="lastName" ng-readonly="true" ng-show="studentByRollNumber.last_name"
                                ng-model="studentByRollNumber.last_name"/>
                        <div class="error" ng-messages="studentOne.rollNumber.$error"
                             ng-if="studentOne.rollNumber.$dirty">
                            <small ng-message="required">Please Enter Roll Number.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <button type="button" class="btn btn-success" data-animation="am-flip-x" ng-click="fetchStudentByRollNumber(studentOne)">search</button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-danger" data-animation="am-flip-x" ng-click="clearForm(studentOne)" ng-show="showClearButton">clear</button>
                </div>
            </div>
        </ng-form>
    </div>
</body>
</html>
